flows.json
[{"id":"d5c13a96.2b9a48","type":"tab","label":"currency-bot","disabled":false,"info":""},{"id":"f5a63d2d.a4c56","type":"http in","z":"d5c13a96.2b9a48","name":"webhook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":60,"y":140,"wires":[["fef64637.6a44a8","1d5b72d6.a4b97d"]]},{"id":"bb5bfaa.19f0008","type":"function","z":"d5c13a96.2b9a48","name":"get message text and user id","func":"if(msg.payload && msg.payload.message && msg.payload.message.from) {\n   msg.user_id = msg.payload.message.from.id; \n}\nif(msg.payload && msg.payload.message) {\n   msg.text = msg.payload.message.text; \n}\nif(msg.payload && msg.payload.callback_query && msg.payload.callback_query.from) {\n   msg.user_id = msg.payload.callback_query.from.id; \n}\nif(msg.payload && msg.payload.callback_query) {\n   msg.text = msg.payload.callback_query.data; \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["adbc58c2.215be8","6caa03d.5905cfc"]]},{"id":"fef64637.6a44a8","type":"http response","z":"d5c13a96.2b9a48","name":"return status 200","statusCode":"200","headers":{},"x":250,"y":200,"wires":[]},{"id":"adbc58c2.215be8","type":"debug","z":"d5c13a96.2b9a48","name":"show messanger payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":20,"wires":[]},{"id":"9441a2f7.a17ee","type":"switch","z":"d5c13a96.2b9a48","name":"process text","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":80,"wires":[["ede23368.a40cd"],["20ff3eb0.031862"]]},{"id":"ede23368.a40cd","type":"function","z":"d5c13a96.2b9a48","name":"prepare greeting message","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: \"Hello, I am CurrencyBot. Choose the currency to get information.\" ,\n  reply_markup: {\n      inline_keyboard: [[{text: \"Dollar USA - $ USD\", callback_data: \"USD\"}],[{text: \"Рубль RU - ₽ RUB\", callback_data: \"RUB\"}],[{text: \"Złoty PL - zł PLN\", callback_data: \"PLN\"}],[{text: \"Euro EU - € EUR\", callback_data: \"EUR\"}]],\n  },\n  \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":40,"wires":[["d56df6.dd915208"]]},{"id":"d56df6.dd915208","type":"http request","z":"d5c13a96.2b9a48","name":"send greeting message","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":80,"wires":[[]]},{"id":"1d5b72d6.a4b97d","type":"function","z":"d5c13a96.2b9a48","name":"set environment","func":"msg.botToken = \"1257052664:AAFaZyTidjchhxx76koBysP4wIDySZmPd1c\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["bb5bfaa.19f0008"]]},{"id":"6caa03d.5905cfc","type":"switch","z":"d5c13a96.2b9a48","name":"check user_id exists","property":"user_id","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":80,"wires":[["9441a2f7.a17ee"]]},{"id":"20ff3eb0.031862","type":"function","z":"d5c13a96.2b9a48","name":"prepare to get currency","func":"msg.url = `https://api.exchangeratesapi.io/latest?base=${msg.text}`;\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":160,"wires":[["97f6a9c2.04e1a8"]]},{"id":"97f6a9c2.04e1a8","type":"http request","z":"d5c13a96.2b9a48","name":"get currency","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":160,"wires":[["a9cf3619.b9d988","6f098ac9.4cbfd4"]]},{"id":"a9cf3619.b9d988","type":"function","z":"d5c13a96.2b9a48","name":"form currency information list","func":"msg.currencyInformation = []; \nif(msg.payload && msg.payload.rates) {\n    if(msg.payload.rates.USD && \"USD\" != msg.text) {\n        msg.currencyInformation.push(`Dollar USA - USD costs ${msg.payload.rates.USD} ${msg.text}`);\n    }\n    if(msg.payload.rates.RUB && \"RUB\" != msg.text) {\n        msg.currencyInformation.push(`Рубль RU - RUB costs ${msg.payload.rates.RUB} ${msg.text}`);\n    }\n    if(msg.payload.rates.PLN && \"PLN\" != msg.text) {\n        msg.currencyInformation.push(`Złoty PL - PLN costs ${msg.payload.rates.PLN} ${msg.text}`);\n    }\n    if(msg.payload.rates.EUR && \"EUR\" != msg.text) {\n        msg.currencyInformation.push(`Euro EU - EUR costs ${msg.payload.rates.EUR} ${msg.text}`);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":160,"wires":[["9de381cd.3ccee"]]},{"id":"9de381cd.3ccee","type":"switch","z":"d5c13a96.2b9a48","name":"check currency information is not empty","property":"currencyInformation.length","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1960,"y":160,"wires":[["ac7fc223.17de4"],["31445d9a.4ef0d2"]]},{"id":"ac7fc223.17de4","type":"function","z":"d5c13a96.2b9a48","name":"preparation to send currency information","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: msg.currencyInformation.join(\"\\n\"),\n  reply_markup: {\n      inline_keyboard: [[{text: \"Dollar USA - $ USD\", callback_data: \"USD\"}],[{text: \"Рубль RU - ₽ RUB\", callback_data: \"RUB\"}],[{text: \"Złoty PL - zł PLN\", callback_data: \"PLN\"}],[{text: \"Euro EU - € EUR\", callback_data: \"EUR\"}]],\n  },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":80,"wires":[["e6c246cf.720718"]]},{"id":"e6c246cf.720718","type":"http request","z":"d5c13a96.2b9a48","name":"send currency information","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2550,"y":80,"wires":[[]]},{"id":"6f098ac9.4cbfd4","type":"debug","z":"d5c13a96.2b9a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":280,"wires":[]},{"id":"31445d9a.4ef0d2","type":"function","z":"d5c13a96.2b9a48","name":"prepare unsuccess message","func":"msg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.method = \"POST\";\nmsg.payload = {\n    chat_id: msg.user_id,\n  text: \"Sorry, we were not able to find the information about provided currency. Check if your input is correct.\",\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":240,"wires":[["3044a67f.99302a"]]},{"id":"3044a67f.99302a","type":"http request","z":"d5c13a96.2b9a48","name":"send unsuccess message","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2550,"y":240,"wires":[[]]}]